<div>
    <h2>Add information to create School</h2>
    <form [formGroup]="schoolForm">
        <div>
            <label>
                School Name:
                <input type="text" formControlName="Name">
            </label>
        </div>
        <div>
            <label>
                School Moto:
                <input type="text" formControlName="Moto">
            </label>
        </div>
        <div>
            <label>
                School Type:
                <select formControlName="Type">
                    <option value="">Select School Type</option>
                    <option value="University">University</option>
                    <option value="College">College</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                School Type Public/Private:
                <select formControlName="TypePublicPrivate">
                    <option value="">Select School Type</option>
                    <option value="Public">Public</option>
                    <option value="Private">Private</option>
                </select>
            </label>
        </div>
        <div>
            <label>
                School Email:
                <input type="text" formControlName="Email">
            </label>
        </div>
        <div>
            <label>
                School Phone Number:
                <input type="text" formControlName="PhoneNumber">
            </label>
        </div>
        <div>
            <label>
                School Website:
                <input type="text" formControlName="Website">
            </label>
        </div>
        <div>
            <label>
                School Created At Date:
                <input type="text" formControlName="SchoolCreatedAtDate">
            </label>
        </div>
        <div formGroupName="Address">
            <h3>School Address</h3>
            <div>
                <label>
                    School City:
                    <input type="text" formControlName="City">
                </label>
            </div>
            <div>
                <label>
                    School State:
                    <input type="text" formControlName="State">
                </label>
            </div>
            <div>
                <label>
                    Zip Code:
                    <input type="text" formControlName="Zip">
                </label>
            </div>
            <div>
                <label>
                    School Location String:
                    <input type="text" formControlName="LocationString">
                </label>
            </div>
            <div>
                <label>
                    School Country:
                    <input type="text" formControlName="Country">
                </label>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>