<div style="padding: 10px">
    <app-admin-action [addButtonName]="'Add School'" [viewButtonName]="'View School'" [addLink]="'../school/add-school'" [viewLink]="'../school/school-list'"></app-admin-action>
    <app-admin-action [addButtonName]="'Add Course'" [viewButtonName]="'View Course'" [addLink]="'../course/add-course'" [viewLink]="'../course/view-course'"></app-admin-action>
    <app-admin-action [addButtonName]="'Add Subject'" [viewButtonName]="'View Subject'" [addLink]="'../subject/add-subject'" [viewLink]="'../subject/view-subject'"></app-admin-action>
</div>